* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #eb4b23, #e98234); */
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.cell {
    width: 100%;
    height: 100px;
    background-color: #eae6e6;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f1f1f1;
}

.result-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 2rem;
    display: none;
}

.result-screen.show {
    display: flex;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #feb47b;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    .cell {
        height:80px;}
    }